<!--

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>upload</title>
  <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'><link rel="stylesheet" href="../static/styleupload.css">

</head>
<body>

<div class="wrapper">
  <div class="file-upload">
    <form action = "/success" method = "post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type = "submit" value="Upload">
    </form>
  </div>
</div>

  <script  src="../static/scriptupload.js"></script>

</body>
</html>



-->
<html>
<head>
    <title>upload</title>
</head>
<body>
    <form action = "/successds" method = "post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type = "submit" value="Upload">
    </form>
</body>
</html>


